*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.z_index_2 {
    z-index: 2;
}


/* nav */

.nav_btn {
    border: 1.4px solid var(--color-orange);
    border-radius: 27px;
    padding: 12px 34px;
    transition: all 0.5s linear;
}

.nav_btn:hover {
    border: 1.4px solid var(--color-lightblack);
    background: var(--color-lightblack);

}

.a_line::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background: var(--color-orange);
    transition: all 0.5s linear;
    bottom: -2px;
    left: 0;
}

.a_line:hover::after {
    width: 12px;

}

.nav_btn svg {
    transition: all 0.2s linear;
}

.nav_btn:hover svg {
    transform: translateY(-20%);
}

.nav_line {
    background: var(--color-orange);
    padding: 3px 18px;
    margin-top: 3px;
    border-radius: 5px;
    z-index: 2;
}

/* hero */
.hero_box {
    background: var(--color-lightwhite);
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
    border-radius: 38px;
    padding: 11px 20px 11px 20px;
    transition: all 0.5s linear;
}

.hero_box:hover {
    transform: translateY(-10%);
    box-shadow: 0px 29px 35px -27px var(--color-orange);
}

.hero_box_hr {
    border: 1px solid #EAEAEB;
    height: 50px;
    width: 1px;
}

.hero_box_search {
    background: var(--color-orange);
    border-radius: 31px;
    height: 54px;
    width: 54px;
}

/*  */

.Categories_img_w {
    height: 230px;
    width: 170px;
    border-radius: 85px;
}

.Categories_btn {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    border: 1px solid #2D3134;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: all 0.6s linear;
}

.Categories_btn:hover {
    border: 1px solid #2D3134;
    background-color: #2D3134;
}

.Categories_btn:hover path {
    stroke: var(--color-white)
}

.Categories_Visite {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.6s linear;
}

.Categories_img:hover .Categories_Visite {
    opacity: 1;
}

/* Experience */
.Experience_box_600 {
    height: 218px;
    width: 140px;
    border-radius: 14px;
    background: var(--color-white);
    bottom: 80px;
    left: -30px;
    opacity: 0;
    transition: all 0.6s linear;
}

.Experience_img:hover .Experience_box_600 {
    opacity: 1;
}

.Experience_box_5000 {
    height: 92px;
    width: 171px;
    border-radius: 10px;
    background: var(--color-white);
    opacity: 0;
    transition: all 0.6s linear;
    bottom: 0;
    right: 0;
}

.Experience_img:hover .Experience_box_5000 {
    opacity: 1;
}

.Experience_box_12K {
    height: 178px;
    max-width: 166px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.6s linear;
}

.Experience_box_12K:hover {
    background: var(--color-orange);
}

.Experience_box_12K:hover .text_white_hover {
    color: var(--color-white) !important;
}

/* Find */
.Find_box {
    background: var(--color-lightyellow2);
    border: 2px solid var(--color-white);
    box-shadow: 0px 24px 90px rgba(192, 188, 161, 0.22);
    border-radius: 16px;
    padding: 12px;
}

.Find_box_btn {
    border: 1px solid var(--color-lightblack);
    border-radius: 46px;
    padding: 10px 15px;
    transition: all 0.5s linear;
}

.Find_box_btn:hover {
    background: var(--color-lightblack);
    color: var(--color-white) !important;
}



@media (min-width:992px) {
    .hero_box {
        max-width: 550px;
    }
}

@media (max-width:992px) {
    nav ul {
        position: fixed;
        top: 0px;
        left: -100%;
        background: var(--color-lightyellow2);
        width: 100%;
        height: 100vh !important;
        transition: 0.9s;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        line-height: 5;
    }

    .nav_left {
        left: 0;
    }

    .Experience_box_5000 {
        bottom: 0;
        right: 0;
    }

}

@media (min-width:768px) {
    .Find_h2_w_md {
        width: 400px;
    }

}

@media (max-width:576px) {
    .hero_box {
        width: 200px;
    }

}